<ng-template #content let-c="close" let-d="dismiss">


  <div class="modal-view-container">

      <div class="modal-view-details">
        <p style="text-align: center;margin-top: 0; margin-bottom: 0">
          <object data="https://firebasestorage.googleapis.com/v0/b/portafolio-71ae6.appspot.com/o/pdf%2FDCurriculumJeff2023.pdf?alt=media&token=9edf7e0c-c7e8-4008-80ff-0b1df8758ed9" type="application/pdf" width="100%" height="592px"></object>
        </p>
        <br>
        <br>
        
      </div>

  </div>


</ng-template>
