<header class="header">
    <div class="container">
        <ul class="social-icons pt-3">
            <li class="social-item"><a class="social-link text-light" href="https://www.facebook.com/jeffersonepanito.sarangovega"><i class="ti-facebook" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="https://www.instagram.com/jefferson_vega/"><i class="ti-instagram" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="https://github.com/Jefferson1994"><i class="ti-github" aria-hidden="true"></i></a></li>
           <li class="social-item"><a class="social-link text-light" href="https://www.linkedin.com/in/jefferson-sarango-vega-2714391b4/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>

        </ul>
        <div class="header-content">
            <h4 class="header-subtitle" >Hola, soy</h4>
            <hr>
            <h6 class="header-title">Jefferson Sarango </h6>
            <hr>
            <h6 class="header-mono" >Desarrollador</h6>
            <button class="btn btn-primary btn-rounded" (click)="open(content)"><i class="ti-printer pr-2"></i>Print Resume</button>

        </div>

    </div>

</header>
<ng-template #content let-c="close" let-d="dismiss">


		<div class="modal-view-container">

        <div class="modal-view-details">
          <p style="text-align: center;margin-top: 0; margin-bottom: 0">
            <object data="https://firebasestorage.googleapis.com/v0/b/portafolio-71ae6.appspot.com/o/pdf%2FDCurriculumJeff2023.pdf?alt=media&token=9edf7e0c-c7e8-4008-80ff-0b1df8758ed9" type="application/pdf" width="100%" height="592px"></object>
          </p>
          <br>
          <br>
          <button class="modal-button" (click)="closeModal()" >Cerrar</button>
        </div>

    </div>


</ng-template>




<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
    <div class="container">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">Acerca</a>
                </li>
                <li class="nav-item">
                    <a href="#resume" class="nav-link">Resume</a>
                </li>
            </ul>
            <ul class="navbar-nav brand">
                <img src="assets/imgs/avatar1.jpg" alt="" class="brand-img">
                <li class="brand-txt">
                    <h5 class="brand-title">Jefferson Sarango</h5>
                    <div class="brand-subtitle">Ing. Sistemas Informaticos y Computacion | Desarrollador</div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#portfolio" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="#blog" class="nav-link">Blog</a>
                </li>
                <li class="nav-item last-item">
                    <a href="#contact" class="nav-link">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


